{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
        {% block link %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class = 'header_main'>
            <header>
                <a href="{% url 'home' %}">Головна</a>
                <a href="{% url 'registration' %}">Реєстрація</a>
                <a href="{% url 'authorization' %}">Авторизація</a>
                <a href="{% url 'contacts' %}">Контакти</a>
            </header>
        </div>
        {% endblock %}
    </body>
</html>