{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Home{% endblock %}</title>
        {% block link %}
            <link rel="stylesheet" href="{% static 'css/base.css' %}"> 
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <div class="header_main">
            <header>
                <a href="{% url 'home' %}">
                    <img class="Logo_img" src="{% static 'images/Logo.png' %}" alt="Logo" />
                </a>
                <a href="{% url 'home' %}" class="{% if request.path == '/' %}current-page{% endif %}">Головна</a>
                <a href="{% url 'registration' %}" class="{% if request.path == '/registration/' %}current-page{% endif %}">Реєстрація</a>
                <a href="{% url 'authorization' %}" class="{% if request.path == '/authorization/' %}current-page{% endif %}">Авторизація</a>
                <a href="{% url 'contacts' %}" class="{% if request.path == '/contacts/' %}current-page{% endif %}">Контакти</a>
            </header>
        </div>
        {% endblock %}
    </body>
</html>
