{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}History Generations Page{% endblock %}</title>
        {% block link %}
            <link rel="stylesheet" href="{% static 'css/history_gen.css' %}"> 
            <link rel="icon" href="favicon.ico" type="static/images/Logo.png">
        {% endblock %}
    </head>
    <body>
        {% block content %}
        <header class="header_main">
            <a href="{% url 'home' %}">
                <img class="Logo_img" src="{% static 'images/Logo.png' %}" alt="Logo" />
            </a>
            <a href="{% url 'home' %}" class="{% if request.path == '/' %}current-page{% endif %}">Головна</a>
            <a href="{% url 'generator' %}" class="{% if request.path == '/generator/' %}current-page{% endif %}">Генерація коду</a>
            <a href="{% url 'history_generations' %}" class="{% if request.path == '/history_generations/' %}current-page{% endif %}">Історія генерацій</a>
            <a href="{% url 'contacts' %}" class="{% if request.path == '/contacts/' %}current-page{% endif %}">Контакти</a>
        </header>
        {% endblock %}
    </body>    
</html>
