@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    background-color: #202831;
    font-family: 'Roboto', sans-serif;
}

.header_main {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 20px;
    background-color: #252D38;
}

.header_main a {
    color: #CAD1D4;
    font-size: 22px;
    text-decoration: none;
    padding: 15px;
    background-color: #252D38;
}

.header_main a.current-page {
    text-decoration: underline;
}

.Logo_img{
    width: 100px;
    height: 100px;

}